<div class="homepage">
    <div class="product-recomendation_inner">
        <div class="product-recomendation_title">
            他のおすすめ商品
        </div>
        <div class="product-inner">
            <div class="product_tile product_tile-half">
                <img
                    src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dwf5072759/products/A1236-1154-view1.png?sw=300&sh=330&sm=fit"
                    alt=""
                />
                <h1>RIVAL</h1>
                <p>¥18,700</p>
            </div>
            <div class="product_tile">
                <img
                    src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dw674d0bc6/products/A1212-2889-view1.png?sw=300&sh=330&sm=fit"
                    alt=""
                />
                <h1>BASE TIDE PRO</h1>
                <p>¥18,700</p>
            </div>
            <div class="product_tile">
                <img
                    src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dwdf58009d/products/A1180-001-view1.png?sw=300&sh=330&sm=fit"
                    alt=""
                />
                <h1>REGULUS</h1>
                <p>¥23,100</p>
            </div>
            <div class="product_tile">
                <img
                    src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dw7d6d0ca3/products/A1104-001-view1.png?sw=300&sh=330&sm=fit"
                    alt=""
                />
                <h1>BASE TIDE</h1>
                <p>¥15,400</p>
            </div>
            <div class="product_tile product_tile-half">
                <img
                    src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dw1c6a7ce2/products/A158-502-view1.png?sw=300&sh=330&sm=fit"
                    alt=""
                />
                <h1>RE-RUN</h1>
                <p>¥20,900</p>
            </div>
        </div>
    </div>
</div>