<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>web-nixon-practice</title>
    </head>
    <body>
        <header class="page-header">
            <%=
            require('html-loader!./src/components/headerCarousel/headerCarousel.html')
            %> <%=
            require('html-loader!./src/components/headerMain/headerMain.html')
            %> <%=
            require('html-loader!./src/components/headerBottom/headerBottom.html')
            %><%=
            require('html-loader!./src/components/topWrapper/topWrapper.html')
            %>
        </header>
        <main class="page-main">
            <div class="container-xxxl">
                <div class="shop-inner shop-inner--newproduct">
                    <h2>
                        新着商品
                    </h2>
                    <div class="shop-inner_footer">
                        <a href="#" class="shop-inner_mans  shop-inner__link"
                            >メンズ</a
                        >
                        <a href="#" class="shop-inner_womans  shop-inner__link">
                            レディース</a
                        >
                    </div>
                </div>
                <div class="shop-inner shop-inner--sarfwatch">
                    <h2>
                        サーフウォッチ
                    </h2>
                    <div class="shop-inner_footer">
                        <a href="#" class="shop-inner_mans  shop-inner__link"
                            >メンズ</a
                        >
                        <a href="#" class="shop-inner_womans  shop-inner__link">
                            レディース</a
                        >
                    </div>
                </div>
            </div>

            <div class="homepage">
                <div class="product-recomendation_inner">
                    <div class="product-recomendation_title">
                        他のおすすめ商品
                    </div>
                    <div class="product-inner">
                        <div class="product_tile product_tile-half">
                            <img
                                src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dwf5072759/products/A1236-1154-view1.png?sw=300&sh=330&sm=fit"
                                alt=""
                            />
                            <h1>RIVAL</h1>
                            <p>¥18,700</p>
                        </div>
                        <div class="product_tile">
                            <img
                                src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dw674d0bc6/products/A1212-2889-view1.png?sw=300&sh=330&sm=fit"
                                alt=""
                            />
                            <h1>BASE TIDE PRO</h1>
                            <p>¥18,700</p>
                        </div>
                        <div class="product_tile">
                            <img
                                src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dwdf58009d/products/A1180-001-view1.png?sw=300&sh=330&sm=fit"
                                alt=""
                            />
                            <h1>REGULUS</h1>
                            <p>¥23,100</p>
                        </div>
                        <div class="product_tile">
                            <img
                                src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dw7d6d0ca3/products/A1104-001-view1.png?sw=300&sh=330&sm=fit"
                                alt=""
                            />
                            <h1>BASE TIDE</h1>
                            <p>¥15,400</p>
                        </div>
                        <div class="product_tile product_tile-half">
                            <img
                                src="https://www.nixon.com/dw/image/v2/AAYF_PRD/on/demandware.static/-/Sites-masterCatalog_Nixon/default/dw1c6a7ce2/products/A158-502-view1.png?sw=300&sh=330&sm=fit"
                                alt=""
                            />
                            <h1>RE-RUN</h1>
                            <p>¥20,900</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-xxxl">
                <div class="shop-inner shop-inner--retro">
                    <h2>
                        80'レトロ
                    </h2>
                    <div class="shop-inner_footer shop-inner_footer--retro">
                        <a href="#" class="shop-inner_mans shop-inner__link"
                            >バックを見る</a
                        >
                        <a href="#" class="shop-inner_womans shop-inner__link"
                            >コレクションを見る</a
                        >
                    </div>
                </div>
                <div class="shop-inner shop-inner--wallet">
                    <h2>
                        ウォレット
                    </h2>
                    <div class="shop-inner_footer shop-inner_footer--wallet">
                        <a href="#" class="shop-inner_mans shop-inner__link"
                            >商品をみる
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-garally">
                <div class="container-garally_inner">
                    <div class="container-garally_logo">
                        <img
                            src="<%= require('./src/assets/nixon.svg') %>"
                            alt=""
                        />
                    </div>
                    <a class="container-garally_btn">
                        <div class="btn_view-garally">
                            ギャラリーを見る
                        </div>
                    </a>
                </div>
            </div>

            <div class="controls">
                <div class="controls_inner">
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--girl"
                    ></a>
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--watch"
                    ></a>
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--cover"
                    ></a>
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--dog"
                    ></a>
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--tatto"
                    ></a>
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--coffee"
                    ></a>
                    <a
                        href="#"
                        class="controls_inner-link controls_inner-link--gold"
                    ></a>
                </div>
            </div>

            <div class="email-sing-up">
                <div class="email-sing-up_inner">
                    <div class="email-sing-up_lavel">
                        <span>ニュースレター登録で</span>
                        <span
                            class="email-sing-up_lavel email-sing-up_lavel-bold"
                            >10％OFF!</span
                        >
                    </div>
                    <div class="email-sing-up-required">
                        <div class="email-sing-up_text">
                            メールアドレスを登録
                        </div>
                    </div>
                    <div class="email-sing-up_btn">
                        <div class="email-sing-up_btn_text">
                            登録
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_container">
                <div class="footer_logo">
                    <img
                        src="<%= require('./src/assets/nixon.svg') %>"
                        alt="logo"
                    />
                </div>
                <div class="footer_social-icon">
                    <div class="list-inline">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                            alt=""
                        />
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                            alt=""
                        />
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                            alt=""
                        />
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                            alt=""
                        />
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                            alt=""
                        />
                    </div>
                </div>

                <div class="footer_links">
                    <div class="footer_inner">
                        <h3>ニクソン</h3>
                        <a href="#">ニクソンについて</a>
                        <a href="#">チーム</a>
                        <a href="#">ストーリー</a>
                        <a href="#">店舗検索</a>
                    </div>
                    <div class="footer_inner">
                        <h3>カスタマーサポート</h3>
                        <span>-</span>
                        <h4>
                            <a href="#">お問い合わせ</a>
                            <span>/</span>
                            <a href="#">03-6812-9765</a>
                        </h4>
                        <a href="#">FAQs</a>
                        <a href="#">保証について</a>
                        <a href="#">修理に関するお問合せ</a>
                        <a href="#">ニクソン商品のご購入について</a>
                    </div>
                    <div class="footer_inner">
                        <h3>注文＆返品</h3>
                        <span>-</span>
                        <a href="#">注文状況確認</a>
                        <a href="#">配送について</a>
                        <a href="#">返品について</a>
                    </div>
                </div>
                <div class="footer_container_bottom">
                    <a href="#">プライバシーポリシー</a>
                    <a href="#">利用規約</a>
                    <a href="#">社会的責任</a>
                    <a href="#">特定商取引法に関する表示</a>
                    <span>© 2019 Nixon Inc</span>
                </div>
            </div>
        </main>

        <footer></footer>
    </body>
</html>
