.top-wrapper {
    height: 660px;
    display: block;
    position: relative;
    background-image: url(https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dwb32ef71d/19-2/Homepage/10-07/10-07-HERO-TABLET.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: 1024px) {
        margin-top: 50px;
    }

    @media (max-width: 768px) {
        background-image: url(https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dw021aae71/19-2/Homepage/10-07/10-07-HERO-MOBILE_B.jpg);
        background-position: center;
        height: 530px;
        margin-top: 50px;
    }

    @media (max-width: 375px) {
        border-top: solid 2px #9b9d9f;
    }
}

.top-wrapper_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120px;
}

.top-wrapper_container h1 {
    font-size: 70px;
    color: #ffffff;
    font-family: sans-serif;

    @media (max-width: 768px) {
        font-size: 35px;
    }
}

.top-wrapper_container p {
    font-size: 16px;
    color: #ffffff;
    font-family: sans-serif;
    text-shadow: 1px 1px 0 #000;
    margin: 0px 0px 30px;

    @media (max-width: 768px) {
        font-size: 13px;
    }
}

.product_btn {
    width: 250px;
    padding: 16px 20px;
    margin: 8px;
    font-size: 14px;
    font-family: sans-serif;
    color: #1e1e1e;
    cursor: pointer;
    background-color: #ffffff;
    display: inline-block;
    border: solid 3px #ffffff;

    &:hover {
        background-color: transparent;
        transition-duration: 0.4s;
    }
}

.product_look_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;

    &:hover {
        color: white;
    }
}
