<div class="header-bottom">
    <div class="item-inner item-inner--mens">
        <span class="item-text">メンズ</span>
        <div class="bottom-item-btn">
            <img src="../../assets/down-arrow.svg" alt="logo" />
        </div>

        <div class="mans-info">
            <div class="mans-info_inner">
                <div class="info-list">
                    <a href="#" class="lavel-text"
                        ><span>オータムコレクション</span></a
                    >
                    <a href="#" class="lavel-text"><span>新着商品</span></a>
                    <a href="#" class="lavel-text"><span>ベストセラー</span></a>
                    <a href="#" class="lavel-text lavel-text-bold1"
                        ><span>全ての商品をみる→</span></a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>スタイル</span></a
                    >
                    <a href="#" class="lavel-text"><span>クラシック</span></a>
                    <a href="#" class="lavel-text"><span>デジタル</span></a>
                    <a href="#" class="lavel-text"><span>クロノグラフ</span></a>
                    <a href="#" class="lavel-text"><span>ビックフィス</span></a>
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>シーン</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span>サーフィン&タイド</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span></span>スポーツ &フィットネス</a
                    >
                    <a href="#" class="lavel-text"
                        ><span></span>ウォータープルーフ</a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>トレンド</span></a
                    >
                    <a href="#" class="lavel-text"><span>ブラック</span></a>
                    <a href="#" class="lavel-text"><span>ゴールド</span></a>
                    <a href="#" class="lavel-text"
                        ><span>ステンレスベルト</span></a
                    >
                    <a href="#" class="lavel-text"><span>レザーベルト</span></a>
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>コラボレーション</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span>ミッキーマウス</span></a
                    >
                    <a href="#" class="lavel-text"><span>メタリカ</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="item-inner item-inner--mens">
        <span class="item-text">レディース</span>
        <div class="bottom-item-btn">
            <img src="../../assets/down-arrow.svg" alt="logo" />
        </div>

        <div class="mans-info">
            <div class="mans-info_inner">
                <div class="info-list">
                    <a href="#" class="lavel-text"
                        ><span>オータムコレクション</span></a
                    >
                    <a href="#" class="lavel-text"><span>新着商品</span></a>
                    <a href="#" class="lavel-text"><span>ベストセラー</span></a>
                    <a href="#" class="lavel-text lavel-text-bold1"
                        ><span>全ての商品をみる→</span></a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>スタイル</span></a
                    >
                    <a href="#" class="lavel-text"><span>クラシック</span></a>
                    <a href="#" class="lavel-text"><span>デジタル</span></a>
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>シーン</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span>サーフィン&タイド</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span></span>スポーツ &フィットネス</a
                    >
                    <a href="#" class="lavel-text"
                        ><span></span>ウォータープルーフ</a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>トレンド</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span>ローズゴールド</span></a
                    >
                    <a href="#" class="lavel-text"><span>ゴールド</span></a>
                    <a href="#" class="lavel-text"
                        ><span>ステンレスベルト</span></a
                    >
                    <a href="#" class="lavel-text"><span>レザーベルト</span></a>
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>コラボレーション</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span>ミッキーマウス</span></a
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="item-inner item-inner--mens">
        <span class="item-text">バッグ</span>
        <div class="bottom-item-btn">
            <img src="../../assets/down-arrow.svg" alt="logo" />
        </div>

        <div class="mans-info">
            <div class="mans-info_inner">
                <div class="info-list">
                    <a href="#" class="lavel-text"
                        ><span>オータムコレクション</span></a
                    >
                    <a href="#" class="lavel-text"><span>新着商品</span></a>
                    <a href="#" class="lavel-text"><span>ベストセラー</span></a>
                    <a href="#" class="lavel-text lavel-text-bold1"
                        ><span>全ての商品をみる→</span></a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>スタイル</span></a
                    >
                    <a href="#" class="lavel-text"><span>リュック</span></a>
                    <a href="#" class="lavel-text"
                        ><span>ダッフルバック</span></a
                    >
                    <a href="#" class="lavel-text"
                        ><span>トラブルバック</span></a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>コラボレーション</span></a
                    >
                    <a href="#" class="lavel-text"><span>ペタルピンク</span></a>
                    <a href="#" class="lavel-text"
                        ><span></span>ミッキーマウス</a
                    >
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span></span>MultiCam®</a
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="item-inner item-inner--mens">
        <span class="item-text">アパレル＆アクセサリー</span>
        <div class="bottom-item-btn">
            <img src="../../assets/down-arrow.svg" alt="logo" />
        </div>

        <div class="mans-info">
            <div class="mans-info_inner">
                <div class="info-list">
                    <a href="#" class="lavel-text"><span>新着商品</span></a>
                    <a href="#" class="lavel-text"><span>ベストセラー</span></a>
                    <a href="#" class="lavel-text lavel-text-bold1"
                        ><span>全ての商品をみる→</span></a
                    >
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>アパレル</span></a
                    >
                    <a href="#" class="lavel-text"><span>スウェット</span></a>
                    <a href="#" class="lavel-text"><span>Tシャツ</span></a>
                </div>
                <div class="info-list info-list2">
                    <a href="#" class="lavel-text lavel-text-bold"
                        ><span>アクセサリー</span></a
                    >
                    <a href="#" class="lavel-text"><span>財布</span></a>
                    <a href="#" class="lavel-text"><span></span>ベルト</a>
                    <a href="#" class="lavel-text"
                        ><span></span>帽子＆ビーニー</a
                    >
                    <a href="#" class="lavel-text"
                        ><span></span>その他アクセサリー</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-stories">
        <div class="item-stories-text">
            ストーリーズ
        </div>
    </div>
</div>
