<div class="email-sing-up">
    <div class="email-sing-up_inner">
        <div class="email-sing-up_lavel">
            ニュースレター登録で
            <span class="email-sing-up_lavel-bold"> 10％OFF</span>
        </div>
        <div class="email-sing-up__primary">
            <div class="email-sing-up-required">
                <div class="email-sing-up_text">
                    メールアドレスを登録
                </div>
            </div>
            <div class="email-sing-up_btn">
                <div class="email-sing-up_btn_text">
                    登録
                </div>
            </div>
        </div>
    </div>
</div>
