<div class="container-xxxl">
    <div class="shop-inner shop-inner--retro">
        <h2>
            80'レトロ
        </h2>
        <div class="shop-inner_footer shop-inner_footer--retro">
            <a href="#" class="shop-inner_mans shop-inner__link"
                >バックを見る</a
            >
            <a href="#" class="shop-inner_womans shop-inner__link"
                >コレクションを見る</a
            >
        </div>
    </div>
    <div class="shop-inner shop-inner--wallet">
        <h2>
            ウォレット
        </h2>
        <div class="shop-inner_footer shop-inner_footer--wallet">
            <a href="#" class="shop-inner_mans shop-inner__link">商品をみる </a>
        </div>
    </div>
</div>
