<div class="controls">
    <div class="controls_inner">
        <a
            href="#"
            class="controls_inner-link controls_inner-link--girl"
        ></a>
        <a
            href="#"
            class="controls_inner-link controls_inner-link--watch"
        ></a>
        <a
            href="#"
            class="controls_inner-link controls_inner-link--cover"
        ></a>
        <a
            href="#"
            class="controls_inner-link controls_inner-link--dog"
        ></a>
        <a
            href="#"
            class="controls_inner-link controls_inner-link--tatto"
        ></a>
        <a
            href="#"
            class="controls_inner-link controls_inner-link--coffee"
        ></a>
        <a
            href="#"
            class="controls_inner-link controls_inner-link--gold"
        ></a>
    </div>
</div>