<div class="footer_container">
    <div class="footer_logo">
        <img src="../../assets/nixon.svg" alt="logo" />
    </div>
    <div class="footer_social-icon">
        <div class="list-inline">
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                alt=""
            />
            <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTrOMXXTGB64iB_rTvwlWo3mf01EwQlrcbSPASy9FW1S8NWTZl3Q&s"
                alt=""
            />
        </div>
    </div>
    <div class="footer_links">
        <div class="footer_inner">
            <h3>ニクソン</h3>
            <p></p>
            <a href="#">ニクソンについて</a>
            <a href="#">チーム</a>
            <a href="#">ストーリー</a>
            <a href="#">店舗検索</a>
        </div>
        <div class="footer_inner">
            <h3>カスタマーサポート</h3>
            <p></p>
            <h4>
                <a href="#">お問い合わせ</a>
                <span>/</span>
                <a href="#">03-6812-9765</a>
            </h4>
            <a href="#">FAQs</a>
            <a href="#">保証について</a>
            <a href="#">修理に関するお問合せ</a>
            <a href="#">ニクソン商品のご購入について</a>
        </div>
        <div class="footer_inner">
            <h3>注文＆返品</h3>
            <p></p>
            <a href="#">注文状況確認</a>
            <a href="#">配送について</a>
            <a href="#">返品について</a>
        </div>
    </div>
</div>
