.footer_container {
    padding: 35px 0px 25px;
    display: flex;
    flex-direction: column;
    margin: 0px 8%;
    border-bottom: solid 2px #d1d4d6;

    @media (max-width: 768px) {
        margin: 0px 10px;
        position: relative;
    }
}
.footer_logo {
    @media (max-width: 768px) {
        display: none;
    }
}

.footer_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: sans-serif;

    @media (max-width: 768px) {
        height: 365px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.footer_inner {
    width: 297px;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        width: 48%;
    }
}

.footer_inner h3 {
    margin: 0px 0px 14px;
    padding: 0px 0px 4px;
    font-size: 14px;
    font-weight: normal;
    color: black;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.footer_inner h4 {
    margin: 6px 0px;
    font-size: 13px;
    color: #000;
    font-weight: normal;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}
.footer_inner a {
    margin: 10px 0px;
    font-size: 13px;
    color: #000;
    cursor: pointer;

    &:hover {
        color: #8a8a8a;
    }

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.footer_inner p {
    width: 36px;
    height: 2px;
    background-color: black;
    margin: 0px 0px 10px 0px;
}

.list-inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
        width: 36px;
        height: 36px;

        @media (max-width: 768px) {
            padding-right: 10px;
        }
    }
}
.footer_social-icon {
    @media (max-width: 768px) {
        position: absolute;
        bottom: -58px;
        right: -8px;
    }
}
