<div class="container-xxxl">
    <div class="shop-inner shop-inner--newproduct">
        <h2>
            新着商品
        </h2>
        <div class="shop-inner_footer">
            <a href="#" class="shop-inner_mans  shop-inner__link">メンズ</a>
            <a href="#" class="shop-inner_womans  shop-inner__link">
                レディース</a
            >
        </div>
    </div>
    <div class="shop-inner shop-inner--sarfwatch">
        <h2>
            サーフウォッチ
        </h2>
        <div class="shop-inner_footer">
            <a href="#" class="shop-inner_mans  shop-inner__link">メンズ</a>
            <a href="#" class="shop-inner_womans  shop-inner__link">
                レディース</a
            >
        </div>
    </div>
</div>
<!-- <div class="container-xxxl">
    <div class="shop-inner shop-inner--retro inner-left">
        <h2>
            80'レトロ
        </h2>
        <div class="shop-inner_footer shop-inner_footer--retro">
            <a href="#" class="shop-inner_mans shop-inner__link"
                >バックを見る</a
            >
            <a href="#" class="shop-inner_womans shop-inner__link"
                >コレクションを見る</a
            >
        </div>
    </div>
    <div class="shop-inner shop-inner--wallet inner-right">
        <h2>
            ウォレット
        </h2>
        <div class="shop-inner_footer shop-inner_footer--wallet">
            <a href="#" class="shop-inner_mans shop-inner__link"
                >商品をみる
            </a>
        </div>
    </div>
</div> -->
