<div class="header_main">
  <div class="header_row-main">
    <div class="header__mobile-menu">
        <div class="header__burger-menu ">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header__mobile-menu-text">Menu</div>
    </div> 
    <div class="search">
        <img
            src="https://www.cie-okazoo.com/css/img/svgfa/search.svg"
            alt=""
        /> 
        <span class="search-text">検索
        </span>
    </div>
    <div class="header-logo">
        <img
            src="../../assets/nixon.svg"
            alt="logo"
            class="nixon-logo nixon-logo--desktop"
        />
        <div class="nixon-logo nixon-logo--mobile">
        </div>    
    </div>
    <div class="header-top__wrap">
        <div class="header_local-desktop">
            <a href="＃"></a>
                <span class="customer-locale_flag">●</span>
                <span class="customer-locale_japan">JA</span>
            </a>
        </div>
        <div class="header_shop-desktop">
            <a href="#" class="header_shop-desktop-link header_shop-desktop-stores">
                取扱い店舗を探す
            </a>
        </div>
        <div class="header_acount-desktop">
            <span class="header_shop-desktop-link"> ログイン</span>
            <div class="btn-wrapper-container">
                <div class="btn-wrapper">
                    <img
                        src="../../assets/down-arrow.svg"
                        alt="logo"
                    />
                </div>
                
            <div class="img-info">
                    <div class="img-imfo__inner">
                        <div class="text-first">ログインでお買い物時の入力をスムーズに！</div>
                        <div class="text-second">
                            ログイン
                        </div>
                        <div class="text-third">
                            アカウントを登録されていない方はこちら
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header_shop-desktop">
            <img
                src="../../assets/shop-cart.svg"
                alt="logo"
            />
        </div>
    </div>
    <div class="header-top__cart--mobile">
        <span class="header-top__cart-number">0</span>
        <span>
            <img
                src="../../assets/shop-cart-white.svg"
                alt="logo"
            />
        </span>
    </div>
    <div class="header-menu_container ">
        <div class="menu-list">
            <span>ギフトガイド</span>
            <span>></span>
        </div>
        <div class="menu-list">
            <span>メンズ</span>
            <span>></span>
        </div>
        <div class="menu-list">
            <span>レディース</span>
            <span>></span>
        </div>
        <div class="menu-list">
            <span>バッグ</span>
            <span>></span>
        </div>
        <div class="menu-list">
            <span>アパレル＆アクセサリー</span>
            <span>></span>
        </div>
        <div class="menu-list menu-list-gray">
            <span>ストーリーズ</span>
        </div>
        <div class="menu-list menu-list-gray">
            <div class="flag-japan">
                <span class="japan-red">●</span>
                <span class="japan-JA">JA</span>
            </div>
        </div>
        <div class="menu-list menu-list-gray">
            <span>取扱店舗を探す</span>   
        </div>
        <div class="menu-list menu-list-gray">
            <span>ログイン</span>
        </div>
        <div class="menu-list-blank">

        </div>
            
            
        </div>
    </div>
  </div>
</div>


