.header_row-main {
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    margin: auto;
    max-width: 1280px;

    @media (max-width: 1024px) {
        background-color: #000000;
        width: 100%;
        margin: 0;
        overflow: hidden;
        height: 54px;
        justify-content: space-between;
    }
}

.header-logo {
    margin: 20px 0;
    cursor: pointer;
}

.header__mobile-menu {
    color: white;
    margin-left: 14px;
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}

.header__burger-menu {
    display: flex;
    height: 14px;
    flex-direction: column;
    width: 23px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 8px;

    span {
        width: 100%;
        height: 2px;
        background-color: white;
        display: block;
    }
}

.header__mobile-menu-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.search {
    width: 170px;
    height: 44px;
    font-size: 12px;
    color: #9b9e9f;
    border-bottom: solid 2px #9b9e9f;
    position: absolute;
    bottom: 27px;
    left: 0;
    transition: width 0.2s;
    display: flex;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        width: 260px;
    }

    @media (max-width: 1024px) {
        bottom: -44px;
        left: 13px;
        width: 170px;
        border-bottom: none;

        img {
            width: 20px;
            height: 20px;
            color: #888b90;
        }
    }
}

.header-top__wrap {
    height: 35px;
    color: #9b9e9f;
    font-size: 11px;
    font-family: sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    position: absolute;
    right: 0;

    @media (max-width: 1024px) {
        // everything happens in here,
        // only below breakpoint 1024px
        display: none;
    }
}

.header_local-desktop {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;

    .customer-locale_flag {
        padding-right: 10px;
        color: red;
    }

    .customer-locale_japan {
        &:hover {
            color: #000;
        }
    }
}

.header_shop-desktop {
    padding-right: 20px;
    cursor: pointer;
}

.header_shop-desktop-link {
    padding: 7px 10px;
    color: #888b90;
    cursor: pointer;
    &:hover {
        color: #000;
    }
}
.header_acount-desktop {
    display: flex;
    flex-direction: row;
    position: relative;

    &:hover {
        .img-info {
            display: block;
        }

        .btn-wrapper {
            transform: rotateX(180deg);
        }
    }
}

.btn-wrapper-container {
    margin-left: -5px;
    padding-right: 20px;
}

.header_shop-desktop-login {
    padding: 7px 10px;
}

.btn-wrapper {
    width: 14px;
    height: 12px;
    padding-left: 2px;
    margin-top: 5px;
    pointer-events: auto;
    color: #888b90;
    transition: all 0.3s ease-in-out;
}

.img-info {
    width: 228px;
    height: 146px;
    font-weight: bold;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 41px;
    right: 22px;
    transition: all 0.5s ease-in-out;
    z-index: 100;
    padding: 20px;
    background-color: white;
    display: none;
}

.img-imfo__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text-first {
    display: block;
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin: 0 auto;
}

.text-third {
    display: block;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
}
.text-second {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.header_shop-desktop-stores {
    padding-right: 0;
}

.nixon-logo--mobile {
    display: none;
}

.header-top__cart-number {
    color: white;
    font-size: 12px;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-align: center;
}

.header-top__cart--mobile {
    position: relative;
    margin-right: 14px;
}

@media (max-width: 1024px) {
    .nixon-logo--desktop {
        display: none;
    }

    .nixon-logo--mobile {
        display: block;
        width: 140px;
    }
}
