<div class="header_main">
    <div class="header_row-main">
    <div class="search mobile-hide">
        <img
            src="https://www.cie-okazoo.com/css/img/svgfa/search.svg"
            alt=""
        /> 
        <span class="search-text">検索
        </span>
    </div>
    <div class="header-logo">
        <img
            src="../../assets/nixon.svg"
            alt="logo"
            class="nixon-logo nixon-logo--desktop"
        />

        <img
            src="https://helenkirchhofer.ch/media/catalog/category/brand-logo-nixon.png"
            alt="logo"
            class="nixon-logo nixon-logo--mobile desktop-hide"
        />
    </div>
    <div class="header-top__wrap mobile-hide">
        <div class="header_local-desktop">
            <a href="＃"></a>
                <span class="customer-locale_flag">●</span>
                <span class="customer-locale_japan">JA</span>
            </a>
        </div>
        <div class="header_shop-desktop">
            <a href="#" class="header_shop-desktop-link header_shop-desktop-stores">
                取扱い店舗を探す
            </a>
        </div>
        <div class="header_acount-desktop">
            <span class="header_shop-desktop-link"> ログイン</span>
            <div class="btn-wrapper-container">
                <div class="btn-wrapper">
                    <img
                        src="../../assets/down-arrow.svg"
                        alt="logo"
                    />
                </div>
                
            <div class="img-info">
                    <div class="img-imfo__inner">
                        <div class="text-first">ログインでお買い物時の入力をスムーズに！</div>
                        <div class="text-second">
                            ログイン
                        </div>
                        <div class="text-third">
                            アカウントを登録されていない方はこちら
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="header_shop-desktop">
            <img
                src="<%= require('./src/assets/shop-cart.svg') %>"
                alt="logo"
            />
        </div>
    </div>
    <div class="header-top__cart--mobile">
        <span></span>
        <span>
            <img
                src="../../assets/shop-cart-white.svg"
                alt="logo"
            />
        </span>
    </div>
</div>